<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/basket"></ion-back-button>
    </ion-buttons>
    <ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle> Total Payment </ion-card-subtitle>
      <ion-card-title>{{total | currency: 'TRY':'symbol-narrow':'1.2-2'}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form #form="ngForm">

      <ion-item>
        <ion-label position="floating">Card Number</ion-label>
        <ion-input ngModel name="cardNumber" type="number" placeholder="1234 5678 9012 3456"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Card Holder</ion-label>
        <ion-input ngModel name="cardOwner" type="text" placeholder="John Doe"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Expiration Date</ion-label>
        <ion-input ngModel name="expirationDate" type="number" placeholder="MM/YY"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">CVV</ion-label>
        <ion-input ngModel name="cvv" type="number" placeholder="123"></ion-input>
      </ion-item>
    </form>
    <ion-col>
    <ion-button (click)="addPayment(form)" expand="block" shape="round" color="success">
      <ion-icon name="card-outline"></ion-icon>
      Pay with Card
    </ion-button>
  </ion-col>

    </ion-card-content>
  </ion-card>



</ion-content>
