<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button  tab="product">
      <ion-icon aria-hidden="true" name="bag-add-outline"></ion-icon>
      <ion-label>Product</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="basket">
      <ion-icon aria-hidden="true" name="card-outline"></ion-icon>
      <ion-label>Basket : <strong>{{total | currency: 'TRY':'symbol-narrow':'1.2-2'}} </strong></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="order">
      <ion-icon aria-hidden="true" name="bag-remove-outline"></ion-icon>
      <ion-label>Order</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
