<ion-header>
  <ion-item>
  <ion-toolbar>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-item>
</ion-header>

<ion-content class="myphoto">
  <ion-searchbar [(ngModel)]="filterText" placeholder="Search..."></ion-searchbar>
  <ion-card *ngFor="let product of products | productPipe:filterText">
    <ion-card-header class="ion-text-center">
      <ion-card-subtitle> {{product.name}} </ion-card-subtitle>
      <ion-card-title> {{product.price | currency: 'TRY':'symbol-narrow':'1.2-2'}} </ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <div class="mb-2" style="display: flex; align-items: center;justify-content: center;">
        <img alt="image" src="{{product.imageUrl}}"  style="height: 150px; width: 150px;"/>
    </div>
      <!-- <ion-img style="align-items: center" class="ion-no-padding" src="{{product.imageUrl}}" style="height: 150px; width: 150px;"></ion-img> -->
      <div *ngIf="product?.inventoryQuantity !== 0">
        <div *ngIf="!isAuth">
          <ion-item class="ion-text-center">
            <ion-button (click)="removeQuantity(product)">
              <ion-icon name="remove-circle-outline"></ion-icon>
            </ion-button>
            <ion-label>
              <span style="font-weight: 700;" [innerText]="quantity" id="name-{{product.id}}"></span>
            </ion-label>
            <ion-button (click)="addQuantity(product)">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-button (click)="addBasket(product)" expand="block" fill="outline" shape="round">
            <ion-icon slot="start" name="add"></ion-icon>
            Add Product
          </ion-button>
        </div>
      </div>
      <div *ngIf="isAuth">
        <ion-button (click)="addBasket(product)" expand="block" color="warning" shape="round">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          Update Product
        </ion-button>
        <ion-button (click)="addBasket(product)" expand="block" color="danger" shape="round">
          <ion-icon slot="start" name="trash-outline"></ion-icon>
          Remove Product
        </ion-button>
      </div>

      <ion-label *ngIf="product?.inventoryQuantity !== 0">
        <span style="color: red;"> Stock : {{product.inventoryQuantity}} </span>
      </ion-label>

      <div *ngIf="product?.inventoryQuantity === 0">
        <ion-label>
          <h5>Out of Stock</h5>
          <span style="color: red;"> Stock : 0 </span>
        </ion-label>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
